input{
    width: 300px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}
select{
    width: 315px;
    margin: 10px;
    padding: 5px;
    height: 34px;
    font-size: 16px;
}

.sub{
    width:215px;
    border-radius:10px;
    border-color:gray;
}
.sub:hover{
    background-color: black;
    border-color: black;
    color:white;
    cursor: pointer;
}
.select{
    border-radius:5px;
    border-color:gray;
    cursor: pointer;
}